:root {
    --primary-color: #ee4d2d;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* 16px */
    font-style: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Respansive */

.grid {
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));

    }
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--while-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.2);
}

.btn--size-s {
    height: 32px;
    padding: 0 8px;
    font-size: 12px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--while-color);
}

/* Seclection */
.select-input {
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--while-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}
.seclect-input__label {
    font-size: 1rem;
    
}

.select-input-icon {
    font-size: 1rem;
    color: rgb(131, 131, 131);
    /* margin: 0 16px 0 8px; */
    position: relative;
    top: 1px;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: #fff;
    
}

.select-input__item {

}

.select-input__link {

}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    border-radius: 2px;
    background-color: #fff;
    list-style: none;
    padding: 8px 16px;
    display: none;
}

.select-input__item {

}

.select-input__link {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}
