
* {
    padding: 0;
    margin: 0;
}
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e3d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    padding-top: 4px;
}

.header__navbar-item {
    margin:  0 8px;
    position: relative;
}
.header__navbar-icon-link {
    color: #fff;
    text-decoration: none;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-style: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-style: 1.8rem;
    margin: 0 4px;
}

/* Header QR code */
.header__qr {
    background-color: #fff;
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.6;
}
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    /* background-color: #fb9086; */
    left: 0;
    top: -16px;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
    /* margin-left: 11px;
    margin-right: 11px; */
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}


/* Header Notification */
.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--while-color);
    border: 1px solid #d3d3d3;
    
}
.header__notify-header {
    height: 40px;
    background-color: var(--while-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}
.header__notify-list {
    list-style-type: none;
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
}
.header__notify-description {
    display: block;
    font-size: 12px;
    line-height: 1.2rem;
    color: #756f6e;
}
.header__notify-footer {
    text-align: center;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}